h1{
    color: rgb(255, 255, 255);
    background-color: black;
    height: 90px;
    width:100%;
    margin: auto;
    text-align: center;
  }

  button{
    color: rgb(0, 0, 0);
    cursor:pointer;
    border-color: rgb(243, 21, 21);
    outline: none;
    background-color:rgb(255, 255, 255);
  }

input{
    width: 200px;
    
    left:50%;
    outline: none;
    border-color: rgb(0, 0, 0);

}